*{
  padding:0;
  margin:0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background: #DFDFDF;
  overflow: hidden;
}

h1{
    font-weight: 300 !important;
    font-size: 1.4em !important;
    padding: 0 !important;
    margin: 0 !important;
    text-overflow: ellipsis;
}

h2{
    font-weight: 400 !important;
    font-size: 0.9em !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #999;
}

ul{
    padding: 0;
    list-style-type: none;
}

section {
  padding: 0 20px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

input[type=text]::-webkit-input-placeholder {
  color: #666;
}

.fork-name{
    padding-left: 5px; 
}

.repository-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;  
}

.repository-search{
  border-bottom: 1px solid #CCC;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  flex-basis: 30%;
  flex-grow: 2;
}

.github-icon{
    margin: auto 0;
    flex-basis: auto;
    flex-grow: 1;
}

input[type=text]{    
    height: 54px;
    border: 0px;
    margin: auto 10px;
    padding-top: 2px; 
    outline: none;
    font-size: 1.85em;
    
    flex-basis: 100%;
    flex-grow: 2;
}

.repository-view{
  background: rgba(0, 0, 0, 0.03);
  margin:0px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  flex-basis: 70%;
  flex-grow: 2;
}

.repository-current{
    background: white;
    border-left: 1px solid #DDD;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    
    flex-basis: 65%;
    flex-grow: 2;
}

.repository-current-content{
    padding: 0px 15px;
    overflow: hidden;
    flex-basis: 70%;
    flex-grow: 2;
}

.repository-list-wrapper{
    border:0px;
    overflow:auto;
    flex-basis: 30%;
    flex-grow: 1;
}

.repository-list{
    list-style-type:none;
    margin: 0px;
}

.repository-current, .repository-list-wrapper{
    height: 89vh;
}

.repository-list-item{
    border-bottom: 1px solid #dfdfdf;
    padding:4px 15px;
    margin: 0px;
    font-size: 0.9em;
    font-weight: 400;
    color:#555;
}

.repository-list-item:hover {
    background: #449add;
    color: #FFF;
}

.repository-list-item:active {
    background: #555;
    color: #FFF;
}

.repository-meta{
    font-size: 0.72em !important;
}

.repository-name{
    display: block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.repository-fullname{
    color: #999;
}

.repository-description{
  margin-top: 5px;   
}

.repository-footer{
    position: fixed;
    bottom:0;
    background: #FBFBFB;
    padding: 10px;
    width: 100%;
    border-top: 1px solid #DDD;
    
    flex-basis: auto;
    flex-grow: 1;
}

.icon-button{
  margin: 0px 5px;
  padding:3px;
  color: #587d9c;
}

.icon-button:hover{
  color: #93A0CF;
}

.icon-button:active{
  color: #3c566b;
}

.stargazer{
  height: 25px;
  width: 25px;
  margin: 4px;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
