body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background: #DFDFDF;
}

h1{
    font-weight: 300 !important;
    font-size: 2em !important;
    padding: 0 !important;
    margin: 0 !important;
}

h2{
    font-weight: 400 !important;
    font-size: 1em !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #999;
}

ul{
    padding: 0;
    list-style-type: none;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

input[type=text]{
    display: inline-block;
    width: 85vw;
    height: 50px;
    border: 0px;
    margin: 10px 0px 10px 5px;
    outline: none;
    font-size: 1.85em;
}

input[type=text]::-webkit-input-placeholder {
  color: #666;
}

.github-icon{
    width: 5vw;
}

.fork-name{
    padding-left: 5px; 
}

.repository-link{
    text-decoration: none;
    color: #222;
    font-size: 1em;
    text-overflow: ellipsis; 
}

.repository-current{
    padding: 0px 15px;
    display: inline-block;
    height:80vh;
    width:65%;
}

.repository-list-wrapper{
    display: inline-block;
    height:80vh;
    width:35%;
    border:0px;
    overflow:auto;
}

.repository-list{
    list-style-type:none;
}


.repository-list-item{
    border-bottom: 1px solid #dfdfdf;
    padding:6px 10px 6px 10px;
    margin: 0;
}

.repository-list-item:hover {
    background: #555;
    color: #FFF;
}

.repository-list-item:active {
    background: #555;
    color: #FFF;
}

.repository-meta{
    font-size: 0.72em !important;
}

.repository-name{
    display: block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.repository-fullname{
    color: #999;
}

.repository-description{
  margin-top: 5px;   
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
